/* ---- */
/* MAIN */
/* ---- */
html, body, #bodyTable, #bodyCell {
    background-color: #ffffff;
}
html body #wrapwrap {
    margin-top: 0;
}
.headerCell {
    font-size: 12px;
}
#open_in_browser {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* khma header */
/*#khma_header {*/
/*    padding-top: 0;*/
/*    padding-bottom: 0;*/
/*}*/
/*#khma_header .contentTable {*/
/*    background-color: #ffffff;*/
/*    color: #000;*/
/*    font-size: 11px;*/
/*    line-height:13px;*/
/*}*/
/*#khma_header .contentTable a {*/
/*    color: #bbbbbb;*/
/*}*/
/*#khma_header table.flexibleContainerLeft .imageContent {*/
/*    padding: 6px 20px 0 20px;*/
/*}*/
/*#khma_header table.flexibleContainerLeft .imageContent img {*/
/*    width: 80px;*/
/*}*/
/*#khma_header table.flexibleContainerRight .textContent {*/
/*    padding: 15px 20px;*/
/*}*/

/* body */
#bodyCell {
    padding-top: 0;
    padding-bottom: 0;
}

/* khma footer */
/*#khma_footer {*/
/*    font-size: 11px;*/
/*    line-height: 13px;*/
/*}*/
/*#khma_footer .contentTable a {*/
/*    color: #bbbbbb;*/
/*}*/
/*#khma_footer .flexibleContainerLeft,*/
/*#khma_footer .flexibleContainerRight {*/
/*    width: 50%;*/
/*}*/


/*#khma_footer .khma_footer_social .flexibleContainer {*/
/*    border-top: 1px solid #dddddd;*/
/*    background-color: white;*/
/*}*/
/*#khma_footer .khma_footer_social .contentTable .textContent {*/
/*    padding-top: 5px;*/
/*    padding-bottom: 5px;*/
/*}*/

/*#khma_footer .khma_footer_info {*/
/*    padding-top: 20px;*/
/*}*/
/*#khma_footer .khma_footer_info .flexibleContainerLeft .textContent {*/
/*    padding-top: 10px;*/
/*}*/



/* ------------------------------- */
/* KHMA SIZING FOR 650 PIXEL WIDTH */
/* ------------------------------- */
#emailBody {
    /*width: 650px;*/
    width: 100%;
}

/* Snippets */
.flexibleContainer {
    width: 650px;
}

.snippet_block_text_twocol .flexibleContainerRight,
.snippet_block_text_twocol .flexibleContainerRight .flexibleImage {
    width: 295px;
}
.snippet_block_text_twocol .flexibleContainerLeft,
.snippet_block_text_twocol .flexibleContainerLeft .flexibleImage {
    width: 295px;
}
.snippet_block_text_threecol .flexibleContainer33,
.snippet_block_text_threecol .flexibleContainer33 .flexibleImage {
    width: 190px;
}

.snippet_block_text_image_left .flexibleContainerRight,
.snippet_block_text_image_left .flexibleContainerRight .flexibleImage {
    width: 390px;
}
.snippet_block_text_image_right .flexibleContainerLeft,
.snippet_block_text_image_right .flexibleContainerLeft .flexibleImage {
    width: 390px;
}
.snippet_block_banner .flexibleImage,
.snippet_block_banner.dadi_sb_bg_normal .flexibleImage {
    width: 610px;
    max-width: 610px;
}
.snippet_block_banner.dadi_sb_bg_full .flexibleImage {
    width: 650px;
    max-width: 650px;
}
.snippet_block_banner.dadi_sb_bg_narrow .flexibleImage {
    width: 570px;
    max-width: 570px;
}


/* ---------- */
/* Typography */
/* ---------- */
body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    line-height: 22px;
    color: #000;
}
p {
    /* Top */
    margin-top: 0;
    -webkit-margin-before: inherit;
    /* Bottom */
    margin-bottom: 0;
    -webkit-margin-after: inherit;
    padding-bottom: 0.25em;
    /* Just reset */
    -webkit-margin-start: inherit;
    -webkit-margin-end: inherit;
}

/* Links */
a, a:hover, a:focus {
    color: #000;
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: underline;
}

/* Headlines */
.h1, .h2, .h3,
h1, h2, h3 {
    margin-top: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, "Times New Roman", Times, serif;
    /*font-style: italic;*/
    line-height: 140%;
    color: #000;

    /* Top */
    margin-top: 0;
    -webkit-margin-before: inherit;

    /* Bottom */
    margin-bottom: 0;
    -webkit-margin-after: inherit;
    padding-bottom: 0.25em;

    /* Just reset */
    -webkit-margin-start: inherit;
    -webkit-margin-end: inherit;
}
.h1, h1 {
    font-size: 42px;
    padding-bottom: 12px;
}
.h2, h2 {
    font-size: 42px;
    font-style: normal;
    font-weight: normal;
}
.h3, h3 {
    font-size: 26px;
}
.h4, h4 {
    font-size: 22px;
}
.h5, h5 {
    font-size: 18px;
}
.h6, h6 {
    font-size: 16px;
}


#open_in_browser a {
    color: #7f7f7f;
    font-size: 11px;
    display: block;
    margin-left: 30px;
}

.khma_title_image {
    margin-bottom: 8px;
}
.khma_title {
    font-family: "Myriad Pro", Myriad, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'HelveticaNeue', 'Helvetica Neue', 'Segoe UI', 'Dejavu Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 12px;
}

blockquote {
    padding: 11px 22px;
    margin: 0 0 22px;
    font-size: 20px;
    border-left: 5px solid #c41501;
}


/* ------- */
/* BUTTONS */
/* ------- */
#emailBody .drop_in_button a {
    display: block;
    border-radius: 0;
    border: 1px solid transparent;
    padding: 2px 16px;
    line-height: 26px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: normal;
    text-align: center;

    background-color: #e8e7e4;
}

#emailBody .drop_in_button.dadi_di_button_medium {
    padding: 0;
    margin: 0;
}
#emailBody .drop_in_button.dadi_di_button_medium a {
    font-size: 18px;
    font-weight: normal;
    padding: 12px 40px;
    line-height: 26px;
    border-radius: 0;
}

#emailBody .drop_in_button.dadi_di_button_large {
    padding: 0;
    margin: 0;
    min-width: 295px;
}
#emailBody .drop_in_button.dadi_di_button_large a {
    /*font-size: 20px;*/
    /*font-weight: normal;*/
    /*padding: 15px 50px;*/
    /*line-height: 30px;*/
    border-radius: 0;

    font-size: 16px;
    font-weight: normal;
    padding: 2px 16px;
    line-height: 26px;

}

#emailBody .drop_in_button.dadi_di_button_huge {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}
#emailBody .drop_in_button.dadi_di_button_huge a {
    font-size: 16px;
    font-weight: normal;
    padding: 2px 16px;
    line-height: 26px;
    border-radius: 0;
}

/* switch to inline block for the line-height TODO check with litmus */
#emailBody .drop_in_button.dadi_di_button_fullleft a,
#emailBody .drop_in_button.dadi_di_button_fullcenter a,
#emailBody .drop_in_button.dadi_di_button_fullright a {
    display: inline-block;
}

/* button colors */
#emailBody .drop_in_button.dadi_di_button_transparent {
    font-weight: inherit;
}
#emailBody .drop_in_button.dadi_di_button_transparent a {
    /*background-color: transparent;*/
    border: 1px solid transparent;
    color: black;
    font-weight: inherit;
    background-color: white;

}
#emailBody .drop_in_button.dadi_di_button_black a {
    background-color: #000000;
    color: white;
}
#emailBody .drop_in_button.dadi_di_button_green a {
    background-color: #5e8322;
    color: white;
}
#emailBody .drop_in_button.dadi_di_button_yellow a {
    background-color: #ffff52;
    color: black;
}
#emailBody .drop_in_button.dadi_di_button_red a {
    background-color: #833522;
    color: white;
}
#emailBody .drop_in_button.dadi_di_button_blue a {
    background-color: #cae0f7;
    color: black;
}
#emailBody .drop_in_button.dadi_di_button_orange a {
    background-color: #ff9841;
    color: black;
}
#emailBody .drop_in_button.dadi_di_button_pink a {
    background-color: #835168;
    color: black;
}


.drop_in_button.dadi_di_button_medium,
.drop_in_button.dadi_di_button_medium a {
    border-radius: 0;
}
.drop_in_button.dadi_di_button_large,
.drop_in_button.dadi_di_button_large a {
    border-radius: 0;
}
.drop_in_button.dadi_di_button_huge,
.drop_in_button.dadi_di_button_huge a {
    border-radius: 0;
}

/* -------- */
/* SNIPPETS */
/* -------- */

/* Align banner images centered by default */
.snippet_block_banner .textContent {
    text-align: center;
}

/* Tipp-Link drop_in*/
.drop_in_tipplink {
    background-color: white;
    color: black;
    padding: 0 3px;
    margin-bottom: 4px;
    display: inline-block;
}

/* Subheading drop_in */
.drop_in_subheading .flexibleContainerCell {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}
.drop_in_subheading .snippet_block_subheading_top,
.drop_in_subheading .snippet_block_subheading_content,
.drop_in_subheading .snippet_block_subheading_bottom {
    width: 100%;
}
.drop_in_subheading .snippet_block_subheading_content h6 {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    color: black;
    font-size: 22px;
}
.drop_in_subheading .snippet_block_subheading_border {
    width: 48px;
    margin: 0 auto;
    line-height: 6px;
}
.drop_in_subheading .snippet_block_subheading_top .snippet_block_subheading_border {
    border-top: 1px solid #000;
}
.drop_in_subheading .snippet_block_subheading_bottom .snippet_block_subheading_border {
    border-bottom: 1px solid #000;
}

/* Subheading drop_in styles */
.drop_in_subheading.khma_drop_in_subheading_bottom .snippet_block_subheading_top {
    display: none;
}

.drop_in_subheading.khma_drop_in_subheading_noborder {
    margin-top: -8px;
}
.drop_in_subheading.khma_drop_in_subheading_noborder .snippet_block_subheading_top,
.drop_in_subheading.khma_drop_in_subheading_noborder .snippet_block_subheading_bottom {
    display: none;
}
.drop_in_subheading.khma_drop_in_subheading_noborder .snippet_block_subheading_content {
    font-weight: normal;
}

/* --------------- */
/* SNIPPET OPTIONS */
/* --------------- */

/* use regular image size for banner images e.g.: Logos */
.khma_sb_banner_width_normal .textContent .flexibleImage {
    width: inherit;
}

.khma_sb_fg_border_left .flexibleContainer .flexibleContainerCell .nestedContainerCell {
    border-left: 5px solid #e8e7e4;
    padding-left: 30px;
}

.khma_sb_fg_border_bottom .flexibleContainer .flexibleContainerCell .nestedContainerCell {
    border-bottom: 5px solid #e8e7e4;
}

.khma_sb_fg_border_full .flexibleContainer .flexibleContainerCell .nestedContainerCell {
    border: 5px solid #e8e7e4;
    padding: 16px 30px;
}

.khma_sb_fg_border_info .flexibleContainer .flexibleContainerCell .nestedContainerCell {
    border-left: 3px solid #e8e7e4;
    padding: 0 30px 0 60px;
}

/*.khma_p_white_bg .flexibleContainerCell .nestedContainerCell .textContent p {*/
/*    background-color: white;*/
/*    color: black;*/
/*    padding: 0 3px;*/
/*    margin-bottom: 4px;*/
/*    display: inline-table;*/
/*}*/

.dadi_sb_bg_lightgrey, .dadi_sb_bg_lightgrey .flexibleContainerCell,
.dadi_sb_fg_lightgrey .flexibleContainerCell .nestedContainerCell {
    background-color: #e8e7e4;
}

.dadi_sb_bg_grey, .dadi_sb_bg_grey .flexibleContainerCell,
.dadi_sb_fg_grey .flexibleContainerCell .nestedContainerCell {
    background-color: #cfcecb;
}

.dadi_sb_bg_darkgrey, .dadi_sb_bg_darkgrey .flexibleContainerCell,
.dadi_sb_fg_darkgrey .flexibleContainerCell .nestedContainerCell {
    background-color: #9b9a97;
}

.dadi_sb_bg_orange, .dadi_sb_bg_orange .flexibleContainerCell,
.dadi_sb_fg_orange .flexibleContainerCell .nestedContainerCell {
    background-color: #ffff52;
    color: black;
}

.dadi_sb_bg_pink, .dadi_sb_bg_pink .flexibleContainerCell,
.dadi_sb_fg_pink .flexibleContainerCell .nestedContainerCell {
    background-color: #ff7ad7;
    color: black;
}

.dadi_sb_bg_blue, .dadi_sb_bg_blue .flexibleContainerCell,
.dadi_sb_fg_blue .flexibleContainerCell .nestedContainerCell {
    background-color: #81bcff;
    color: black;
}

/*.dadi_sb_fg_pink .flexibleContainerCell .nestedContainerCell,*/
/*.dadi_sb_fg_blue .flexibleContainerCell .nestedContainerCell {*/
/*    padding-left: 20px;*/
/*    padding-right: 20px;*/
/*    padding-top: 20px;*/
/*    padding-bottom: 20px;*/
/*    border-radius: 3px;*/
/*}*/


/* ---------- */
/* RESPONSIVE */
/* ---------- */
@media (max-width: 414px) {
    /*body p,*/
    /*body h1, body h2, body h3, body h4, body h5, body h6 {*/
    /*    font-size: inherit;*/
    /*}*/
    /*body h1 {*/
    /*    font-size: 26px;*/
    /*    padding-bottom: 12px;*/
    /*}*/
    /*.h2, body h2 {*/
    /*    font-size: 24px;*/
    /*}*/
    /*.h3, body h3 {*/
    /*    font-size: 18px;*/
    /*}*/
    /*.h4, body h4 {*/
    /*    font-size: 16px;*/
    /*}*/
    /*.h5, body h5 {*/
    /*    font-size: 14px;*/
    /*}*/
    /*.h6, body h6 {*/
    /*    font-size: 12px;*/
    /*}*/
}
